<div class='card-country'>
  <img src='{{flag.svg}}' alt='{{name}}' />
  <h2 class='card-country__name'>{{name}}</h2>
  <ul>
    <li>
      <p class='card-country__item'>Capital:{{capital}}></p>
    </li>
    <li>
      <p class='card-country__item'>Population:{{population}}></p>
    </li>
    <li>
      <p class='card-country__item'>Languages:{{languages}}></p>
    </li>
  </ul>
</div>