{{#each this}}
  <h2 class='card-country__title'>
    <img
      src='{{flags.svg}}'
      alt='flag'
      width='30px'
      height='auto'
    />{{name.official}}</h2>
  <ul class='card-country__list'>
    <li><b>Capital:</b> {{capital}}</li>
    <li><b>Population:</b> {{population}}</li>
    <li><b>Languages:</b>
      {{#each languages}}
        {{this}}{{#unless @last}}, {{/unless}}
      {{/each}}</li>
  </ul>
{{/each}}